<%- include("header") -%>

    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero repellat laudantium veniam incidunt nulla
        aliquid
        sed corporis, ullam maxime accusamus dolore veritatis, natus magni voluptate fugit. Amet vero earum cupiditate.
    </p>


    <%- include("footer") -%>